

<div class="body_content">
  <div class="textoPrincipalCampeonato">
    <h1 class="tituloCampeonato">O campionato provincial de caza de raposo</h1>
    <p>
        celebrouse o 18 de xaneiro de 2008 e foi organizado pola Federación Galega de Caza xunto coa colaboración da Sociedade de caza e do Concello 
        de Vila de Cruces.</p>
        <p>Tivo lugar entre o coto de Vila de Cruces, o de Silleda e o de Lalín e nel
        participaron arredor de 700 persoas organizadas en 65 cuadrillas.</p>
        <p>Déronlle caza a un total de 36 raposos; sendo 4 o número máximo de piezas cazadas
        por unha cuadrilla.</p>
        <p>A duración deste campionato foi dunha maña trala cal se celebrou unha comida para
        todos os participantes no pabillón municipal e á súa finalización realizouse a
        entrega de premios.</p>
      </div>
  <div id='slideshowHolder' class="fotosCampeonato">
    <% @nomeImaxes.each do |imaxe| %>
      <%= image_tag imaxe%>
    <%end%>
  </div>


  <script>
    $(document).ready( function(){
      $('#slideshowHolder').jqFancyTransitions({ width: 400, height: 291 });
    });
  </script>
</div>