
<div class="body_content">

  <div class="listFeiras">
    <ul>
      <% @feiras.each do |feira|
       %>
        <li><%= link_to feira.nome.tr('_', ' '), feira %></li>
      <%  end %>
      <li><%=link_to 'Tiro con arco', campionato_tiro_con_arco_path%></li>
      <li><%=link_to 'Videos', videos_path %></li>
    </ul>
  </div>
  <div>
    <p class="posicionCabeceiraFeiras"><h1  class="tituloFeira">Tiro con arco</h1>.
    As fotos mostraranse automaticamente.</p>
    <div id='slideshowHolder' class="fotosFeiras">

      <% @nomeImaxes.each do |imaxe| %>

        <%= image_tag imaxe%>
      <%end%>
    </div>
  </div>
  <script>
    $(document).ready( function(){
      $('#slideshowHolder').jqFancyTransitions({ width: 600, height: 350 });
    });
  </script>
</div>