
 <div class="menu">
    <ul>
      <li><%= link_to 'Próxima feira', feiras_path%></li>
      <li><%= link_to 'Feiras anteriores', listFeiras_path%></li>
      <li style="background:#666"><%= link_to 'Campionato de caza de raposo', listFeiras_path%></li>
    </ul>
</div>

<div class="body_content">
  <div class="cabeceiraFeiras">Campeonato provincial de caza de raposo</div>

<div id="wrapper">

         <div class="slider-wrapper theme-default">
            <div class="ribbon"></div>
            

            </div>

        </div>

    </div>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>


</div>