<div class="">

</div>
<div class="menu">
    <ul>
      <li style="background:#666"><%= link_to 'Próxima feira', feiras_path%></li>
      <li><%= link_to 'Feiras anteriores', listFeiras_path%></li>
      <li><%= link_to 'Campionato de caza de raposo', campeonato_path%></li>
    </ul>
  </div>
  
<div class="body_content">
  <%= image_tag 'cartel_v.jpg' %>
</div>

