
<div class="body_content">

  <div class="listFeiras">
    <ul>
      <% @feiras.each do |feira| %>
        <li><%= link_to feira.nome.tr('_', ' '), feira %></li>
      <%  end %>
        <li><%=link_to 'Videos', videos_path %></li>
      </ul>
  </div>

  <div id="cartel" class="cartelPortada">
    <div><h1 class="encabezadoPrograma">PROGRAMA VI FEIRA DE CANS DE CAZA</h1></div>
    <div id="partePrograma" class="programaIzquierda">
      <p><span>I CAMPIONATO CONCELLO DE VILA DE CRUCES</span></p>
      <p><span>PERCORRIDO DE CAZA</span></p>
      <p>Campo de tiro: Barral - Sabrexo - Vila de Cruces</p>
      <p><span>Serie 25 Platos (2 máquinas) </span></p>
      <p>Prezo inscripción (pratos incluidos)</p>
      <blockquote><p>Seniors: 20€</p>
        <p>Xuvenís, damas e veteranos: 15€</p></blockquote>
      <p><span>PROGRAMA:</span></p>
      <p>Dende as 11:00 h. da mañá adestramentos</p>
      <p>15:00 h. Tirada Oficial</p>
      <p><span>PREMIOS:</span></p>
      <p>1º Clasificado: TROFEO + XAMÓN</p>
      <p>2º Clasificado: TROFEO + LACÓN</p>
      <p>3º Clasificado: TROFEO + ESTUCHE VIÑO</p>

      <p>Director de tiro</p>
      <p>JOSE ANTONIO PENA</p>
      <p><span>SERVIZO DE BAR E CHARCUTERÍA, NO CAMPO DE TIRO</span></p>
      
    </div>

    <div id="partePrograma" class="programaIzquierda">
      <p>Dende as 8 da mañá entrada de cans no recinto feiral.</p>
      <p>Ás 10 da mañá: apertura oficial da VI Feira de cans de caza por Xesús Otero Varela,
      alcalde de Vila de Cruces.</p>
      <p>Ás 13 horas: Entrega de Premios:</p>
      <p><span>MELLOR CAN DA FEIRA </span>trofeo..... 1 xamón e 5 s/pienso A.E.
      <span>MELLOR XAULA </span>(Xurado popular).. 1 xamón e 2 sacos pienso
      <span>MELLOR CAMADA</span> ................. 1 xamón e 2 s/pienso cachorros
      <span>MELLOR CAN DE RAZA</span>, trofeo e 1 saco de pienso </p>
        <p><span>EXPOSICIÓN CAZA, CONEXOS E PERDICES</span></p>
      <p><span>EXPOSICIÓN DE CETRERÍA</span></p>
      <p>Sorteo de un Xamón cada hora, (11, 12, 13 e 14 horas).</p>
      <p>Sorteo de 100 euros, entre os participantes do xurado popular, na elección da
      mellor xaula (os que desexen participar de xurado, retirarán na entrada, unha ficha
      que donde poderán votar).</p>
      <p>Os expositores de cans, serán obsequiados con un vale por unha ración de pulpo,
      pan e unha taza de viño de 10 a 12 da mañá (mínimo 6 cans por xaula), reservando antes
      do 30 de abril.</p>
      <p>A partires das 16,30 horas, no parque da Residencia <span>EXHIBICIÓN DE CETRERÍA</span>, a cargo
      de <span>Falcóns Galicia</span>.</p>
      <p><span>EXHIBICIÓN DE CAZA CON ARCO</span></p>
      <p><span>DEGUSTACIÓN GRATUITA DE XABARÍN</span>, no Bar da Comisión Piedade 2012 (Xabaríns doados
      polas cuadrillas de caza maior da sociedade de caza de Vila de Cruces).</p>
    </div>
  </div>

</div>
