
<div class="body_content">

  <div class="listFeiras">
    <ul>
      <% @feiras.each do |feira| %>
        <li><%= link_to feira.nome, feira %></li>
      <%  end %>
      <li><%=link_to 'Videos', videos_path %></li>
    </ul>
  </div>
  <div>
    <p class="posicionCabeceiraFeiras"><%= @feira.nome %>.
    As fotos mostraranse automaticamente.</p>
    <div id='slideshowHolder' class="fotosFeiras">

      <% @nomeImaxes.each do |imaxe| %>

        <%= image_tag imaxe%>
      <%end%>
    </div>
  </div>
  <script>
    $(document).ready( function(){
      $('#slideshowHolder').jqFancyTransitions({ width: 600, height: 350 });
    });
  </script>
</div>