

<div class="body_content">
  <div class="iz">
    <div class="">
      <p><h2>Campionato de rastro de jabalí</h2></p>
    </div>
    <div class="">
      <object width="425" height="350">
        <param name="movie" value="http://youtu.be/JS-2QuipgPk"></param>
        <param name="wmode" value="transparent"></param>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/1kuN4TkqQVc" frameborder="0" allowfullscreen></iframe>
      </object>
    </div>
  </div>
  <div class="de">
    <div class="">
      <p><h2>Exhibición de rastro de cans de parada</h2></p>
    </div>
    <div class="">
      <object width="425" height="350">
        <param name="movie" value="http://www.youtube.com/embed/9z-EjGtJjwE"></param>
        <param name="wmode" value="transparent"></param>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/uAl3TbbgLHc" frameborder="0" allowfullscreen></iframe>
      </object>
    </div>
  </div>
</div>