
<div class="body_content">
  <div class="logo">
    <%= image_tag 'logo.png' %>
  </div>
  <div class="formulario">
  <%=  render 'form'%>
  </div>
   <div class="infoAsociacion">
     <h1>Sociedade de Caza de Vila de Cruces</h1>
    <p>Tfno: 600 801 800 - 645 932 687</p>
  </div>
</div>
