
<div class="body_content">
  <div class="logo">
    <%= image_tag 'logo.png' %>
     <h1>Sociedade de Caza de Vila de Cruces</h1>
    <p>Tfno: 600 801 800 - 645 932 687</p>
  </div>
  <div class="formulario">
  <%=  render 'form'%>
  </div>
  <div class="infoAsociacion">
    <div class="logoConcello">
     <%= image_tag 'concello.png' %>
    </div>
    <div class="infoConcello">
     <h1>Concello de Vila de Cruces</h1>
    <p><b>Tel:</b>986582095
      <b>Fax:</b>986582317</p>
    <p>
      <b>Email:</b>correo.viladecruces@fegamp.es</p>
    <p><b>Web:</b>http://www.viladecruces.org</p>
    </div>
  </div>
</div>
