/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

.body_content{
  width: 940px;
  background: white;
  color: darkslategrey;
  padding: 20px;
  border:9px solid yellowgreen;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius:15px;
  height: 500px;
}

.body_content img{
    margin-left: 10%;
}

.corpoQuenesSomos{
    margin-top: 4%;
}

.menu {
    width: 100%;
    margin-top: 7%;
    background-color: darkcyan;
    padding:1px;
    -moz-border-radius:55px;
}

.menu ul {
  list-style: none;
  padding: 0px;
  margin-left: 25%;
}

.menu ul li {
    display: inline;
    padding: 10px 5px 10px 5px;
    -moz-border-radius:5px;
}

.menu ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: yellowgreen;
  font-weight: bold;
  font-size: 16px;
}
.menu ul li a:hover{
    background: yellowgreen;    
    color:darkslategrey;
    font-weight: bold;
    -moz-border-radius:5px;
}
.menu ul li a:selected{
    background: yellowgreen;
    color:darkslategrey;
    font-weight: bold;
    -moz-border-radius:5px;
}

.menuSelected{
    background: yellowgreen;
    color:darkslategrey;
    font-weight: bold;
}

.cartelPortada img{
    display: block;
    width: 350px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    border:3px solid darkred;
    -moz-border-radius:15px;
}

.listFeiras {
  width: 10%;
  float:left;
  margin-left: 2%;
  border-right:3px solid darkslategrey;
  cursor:hand;
}

.listFeiras ul {
  list-style: none;
  padding: 0px;
}

.listFeiras ul li {
  margin-right: 8px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
}

.listFeiras ul li a{
     color:darkslategrey;
     font-size: 18px;
     font-weight: bold;
     text-decoration: none;
}

.listFeiras ul li a:hover{
     color:yellowgreen;
     background: darkslategrey;
    font-weight: bold;
    -moz-border-radius:5px;
    padding:4px;
}

.cabeceiraFeiras{
    margin-left: 50%;
    font-size: 28px;
    color:darkslategrey;
    font-weight: bold;
    border-bottom:3px solid darkslategrey;
}

.novoAnuncio{
    width: 150px;
    background-color: lightgray;
    float: right;
    margin: 0 auto 0 auto;
    padding-left: 30px;
}

.novoAnuncio a{
  padding: 5px 10px;
  color: yellowgreen;
  font-weight: bold;
  background-color: darkslategrey;
}

.novoAnuncio a:hover{
    background-color: yellowgreen;
    color: darkslategrey;
}

.novoAnuncio a:visited{
  color: yellowgreen;
  background-color: darkslategrey;
}

.novoAnuncio img{
    width: 20px;
    height: 20px;
    background-color: darkslategrey;
}

.tituloAnuncio{
    font-weight: bold;
    text-decoration: underline;
}

.tituloAnuncio a{
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  color: darkslategrey;
}

.tituloAnuncio a:hover{
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: yellowgreen;
}

.col1{
   position: relative;
   overflow: hidden;
   float: left;
   width: 350px;
   background-color: #e6e6e6;
   margin-top: 5px;
   height: 100px;
}
.col2{
   position: relative;
   overflow: hidden;
   float: left;
   width: 350px;
   left: 3%;
   background-color: #e6e6e6;
   margin-top: 5px;
   height: 100px;
}

.fotosFeiras{
    margin-top: 3%;
 margin-left: auto;
  margin-right: auto;
  -moz-border-radius:10px;
  border:9px solid lightgray;
}

.fotoSola img{
    width: 230px;
    height: 170px;
    -moz-border-radius:10px;
    border:9px solid lightgray;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.textoPrincipal{
    width: 900px;
    margin-left: 50px;
}


.textoPrincipalCampeonato{
    margin-left: 50px;
    float:left;
    width: 400px;
}

.fotosCampeonato{
    margin-top: 3%;
  -moz-border-radius:10px;
  border:9px solid lightgray;
  float: left;
}