/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/
.encabezado{
    width: 900px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.encabezado img{
    width: 900px;
    height: 140px;
}

.body_content{
    width: 940px;
    color: darkslategrey;
    border:9px solid yellowgreen;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius:15px;
    height: 550px;
    background-color: white;
}

.body_content img{
    margin-left: 10%;
}

.corpoQuenesSomos{
    margin-top: 1%;
}

.menu {
    width: 100%;
    background-color: darkcyan;
    padding:1px;
    -moz-border-radius:55px;
}

.menu ul {
    list-style: none;
    padding: 0px;
    margin-left: 25%;
}

.menu ul li {
    display: inline;
    padding: 10px 5px 10px 5px;
    -moz-border-radius:5px;
}

.menu ul li a {
    padding: 5px 10px;
    text-decoration: none;
    color: yellowgreen;
    font-weight: bold;
    font-size: 14px;
}
.menu ul li a:hover{
    background: yellowgreen;    
    color:darkslategrey;
    font-weight: bold;
    -moz-border-radius:5px;
}
.menu ul li a:selected{
    background: yellowgreen;
    color:darkslategrey;
    font-weight: bold;
    -moz-border-radius:5px;
}

.menuSelected{
    background: yellowgreen;
    color:darkslategrey;
    font-weight: bold;
}

.cartelPortada img{
    display: block;
    width: 350px;
    height: 460px;
    margin-left: 230px;
    border:3px solid darkred;
    -moz-border-radius:15px;
    float: left;
    margin-top: 55px;
}

.listFeiras {
    width: 100px;
    float:left;
    margin-left: 1%;
    border-right:3px solid darkslategrey;
    margin-top: 5px;
}

.listFeiras ul {
    list-style: none;
    padding: 0px;
    text-align: center;
}

.listFeiras ul li {
    margin-right: 8px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-decoration: none;
}

.listFeiras ul li a{
    color:darkslategrey;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.listFeiras ul li a:hover{
    color:yellowgreen;
    background: darkslategrey;
    font-weight: bold;
    -moz-border-radius:5px;
    padding:4px;
}

.cabeceiraFeiras{
    margin-left: 50%;
    font-size: 28px;
    color:darkslategrey;
    font-weight: bold;
    border-bottom:3px solid darkslategrey;
}

.novoAnuncio{
    width: 150px;
    background-color: lightgray;
    float: right;
    margin: 0 auto 0 auto;
    padding: 15px;
    text-align: justify;
}

.novoAnuncio a{
    padding: 5px 20px;
    color: yellowgreen;
    font-weight: bold;
    background-color: darkslategrey;
    text-decoration: none;
}

.novoAnuncio a:hover{
    background-color: yellowgreen;
    color: darkslategrey;
}

.novoAnuncio a:visited{
    color: yellowgreen;
    background-color: darkslategrey;
}

.novoAnuncio img{
    width: 20px;
    height: 20px;
    background-color: darkslategrey;
}

.tituloAnuncio{
    font-weight: bold;
    text-decoration: underline;
}

.tituloAnuncio a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: darkslategrey;
}

.tituloAnuncio a:hover{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    background-color: yellowgreen;
}

.col1{
    position: relative;
    overflow: hidden;
    float: left;
    width: 350px;
    background-color: #e6e6e6;
    margin-top: 5px;
    height: 100px;
}
.col2{
    position: relative;
    overflow: hidden;
    float: left;
    width: 350px;
    left: 3%;
    background-color: #e6e6e6;
    margin-top: 5px;
    height: 100px;
}

.fotosFeiras{
    margin-top: 30px;
    margin-left: 220px;
    margin-right: auto;
    -moz-border-radius:10px;
    border:9px solid lightgray;
}
.fotosFeiras img{
    width: 600px;
    height: 350px;
}

.fotoSola img{
    width: 230px;
    height: 170px;
    -moz-border-radius:10px;
    border:9px solid lightgray;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.textoPrincipal{
    width: 840px;
    margin-left: 50px;
    float: left;
    text-align: justify;
    margin-right: 50px;
}
.textoPrincipal p{
    font-size: 14px;
}


.textoPrincipalCampeonato{
    margin-left: 50px;
    float:left;
    width: 400px;
    text-align: justify;
    padding-right: 20px;
    padding-top: 100px;
}

.fotosCampeonato{
    margin-top: 100px;
    -moz-border-radius:10px;
    border:9px solid lightgray;
    float: left;
}

.fotosCampeonato img{
    width: 400px;
    height: 350px;
}

.textoPrincipalCampeonato p{
    font-size: 14px;
}

.logo{
    float:left;
    margin-top: 40px;
    margin-left: 150px;
}

.logo img{
    width: 200px;
    height: 200px;
}

.formulario{
    -moz-border-radius:10px;
    width: 500px;
    height: 250px;
    margin-left: 570px;
    margin-top: 40px;
}

.infoAsociacion{
    margin-top: 50px;
}

.infoConcello{
    float:left;
    margin-left: 50px;
}

.logoConcello{
    float: left;
    margin-left: 290px;
}

.programa{
    margin-top: 60px;
}

.programa a{
    margin-left: 50px;
    padding: 5px 20px;
    color: yellowgreen;
    font-weight: bold;
    background-color: darkslategrey;
    text-decoration: none;
    color: yellowgreen;
}

.programa a:hover{
    background-color: yellowgreen;
    color: darkslategrey;
}

.programa a:visited{
    color: yellowgreen;
    background-color: darkslategrey;
}

.encabezadoPrograma{
    width: 700px;
    background-color: darkslategrey;
    font-size: 28px;
    font-weight: bold;
    color:yellowgreen;
    margin-left: 90px;
    text-align: center;
    display: inline;
    padding: 5px 20px;
}

#partePrograma{
    -moz-border-radius:10px;
    border:2px solid lightgray;
}
#partePrograma p span{
    font-weight: bold;
}

#partePrograma p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.programaIzquierda{
    float: left;
    width: 390px;
    padding: 5px;
    margin-left: 8px;
    margin-top: 7px;
    text-align: justify;
    height: 483px;
}

.letraPequena{
    font-size: 10px;
}

.cabeceiraFotosFeiras{
    margin-left: 240px;
}

.posicionCabeceiraFeiras{
    margin-top: 60px;
}

.videoIzquierda{
    width: 410px;
    height: 550px;
    margin-left: 30px;

}

.videoDereita{
    width: 410px;
    height: 550px;
    margin-left: 30px;
}

.iz{
    float: left;
    margin-left: 20px;
}

.de{
    float: left;
    margin-left: 20px;
}

.iz p{
    font-size: 14px;
}

.de p{
    font-size: 14px;
}

.pe{
    margin-top: 10px;
    width: 940px;
    height: 40px;
    border:3px solid yellowgreen;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius:15px;
    background-color: white;
}
.pe p{
     margin-left: 300px;
     padding: 0px;
     margin-top: 0px;
}

.pe p img{
    width: 20px;
    height: 30px;
}

h1{
    font-size: 16px;
}

h2{
    font-size: 20px;
    display: inline;
}

.tituloCampeonato{
    font-size: 16px;
}

.tituloFeira{
    font-size: 20px;
    display: inline;
    margin-left: 270px;
}

.anuncio-paginacion .pagination {
color: red;
}