

<div class="body_content">

<p>
  <b><%= @anuncio.titulo %></b>
</p>

<p>
  <%= @anuncio.texto %>
</p>

<p>
  <b>Numero:</b>
  <%= @anuncio.numero %>
</p>

<p>
  <b>Email:</b>
  <%= @anuncio.email %>
</p>


</div>